<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="All about me.">
    <meta name="author" content="Kate Kulesza">
    <meta name="keywords" content="Kate, BMGT408C">
    <title>About Me!</title>
</head>
<body>
    <img src="https://terpconnect.umd.edu/~jbono/bmgt408c/images/quest-logo.png"
         width="221" height="92" alt="QUEST logo"> <!-- Quest logo displayed at the top of the page.-->
    <h1>All About Kate!</h1>
    <p>Welcome to my page! I am happy to tell you more about myself. </p>
    <h2>Quick Facts</h2>
    <ul>
        <li>My full name is Kathryn Kulesza.</li>
        <li>I am 20 years old.</li>
        <li>I am a student at the University of Maryland.</li>
        <li>I am an introvert.</li>
    </ul>
    <h2>Personal Life</h2>
    <h3>Where I'm From</h3>
    <p>I live with my parents and my older sister. My sister is 3 years older than me,
        and we are <strong>very</strong> close. She also went to UMD. My family has 2 dogs and 1 cat. While I
        love all of our pets, I <em>love</em> my cat. We are best friends.
    </p>
    <p>I grew up in Columbia, Maryland. I have lived in the same house my <em>whole life</em>.
        I met my best friend, Sara, in third grade, and we have now been friends for <strong>12 years</strong>. She lives
        down the street from me in Columbia, and she is my roommate in College Park.
    </p>
    <h3>My Hobbies</h3>
    <p>Here are some of my hobbies, ordered from which I do most frequently to which I did least:</p>
    <ol>
        <li>Listening to music</li>
        <li>Ceramics</li>
        <li>Running</li>
        <li>Going to concerts</li>
        <li>Playing Tennis</li>
        <li>Reading</li>
    </ol>
    <p>Music is a huge part of my life. <a href="https://open.spotify.com">Spotify</a> <!--This link should bring
    users to spotify in the same window.-->
        is my favorite listening platform.</p>
    <h2>School Life</h2>
    <p>I am a junior in Electrical Engineering. I am interested in microelectronics and semiconductor materials.
    </p>
    <h3>Classes</h3>
    <p>This about me was created in one of my QUEST classes. I have created another
        <a href="hello.html">path</a> so far this semester.</p> <!--This link should bring the user to hello route. -->
    <p>Here are some of the other classes I have taken:</p>
    <table> <!--This is a table displaying courses and semesters they were taken. -->
        <tr>
            <th>Course</th>
            <th>Semester Taken</th>
        </tr>
        <tr>
            <td>MATH241</td>
            <td>Fall 2023</td>
        </tr>
        <tr>
            <td>ENEE101</td>
            <td>Spring 2024</td>
        </tr>
        <tr>
            <td>ENEE244</td>
            <td>Fall 2024</td>
        </tr>
        <tr>
            <td>PHYS270</td>
            <td>Spring 2025</td>
        </tr>
    </table>
    <p>In between study breaks, my favorite game to play is
        <a href="https://2048game.com" target = _blank>2048</a>.<!--This link should bring users to
        2048 game in another window. -->
    </p>
</body>
</html>